.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 80px;
}

header {
    background-color: #44b4cd;
    border-bottom: white 1px solid;
}

.navbar {
    background: transparent;
}

.nav-link {
    color: white;
}

.logo-img {
    max-width: 100px;
    max-height: 100px;
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-banner {
    max-width: 80%;
}

h1, h2, h6 {
    color: white;

}
.text-content {
    padding-top: 20px;
    width: 75%;
    text-align: justify;
}


footer {
    background-color: rgba(135, 166, 169, 0.5);
    color: #fff;
    padding: 20px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex-direction: column;
}




@media (max-width: 768px) {
    body {
        padding-bottom: 40px;
    }

}


